{% extends 'base.html'%}
{% load static%}
{% block content%}  
            

    <!-- =================Header Area Ends================= -->

    <!-- =================Slider Area Starts================= -->

    <div class="slider-area slider-responsive owl-carousel position-relative">
        <div class="single-slide pb-45" style="background-image: url({% static 'assets/img/slider/slider-bg.png '%});">
            <div class="slider-content slider-height pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4">
                            <div class="slider-img pt-100 pt-md-0 d-none d-sm-block">
                                <img src="{{photo1.photo1.url}}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 col-change offset-xl-2">
                            <div class="hero-text pt-160">
                                <h1>
                                    Men E - 2.0z
                                    Ankle Watch.
                                </h1>
                                <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque
                                    tortor arcu, commodo sit amet nulla sed.</p>
                                <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i>Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide pb-45" style="background-image: url({% static 'assets/img/slider/slider-bg.png '%});">
            <div class="slider-content slider-height pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4">
                            <div class="slider-img pt-100 pt-md-0 d-none d-sm-block">
                                <img src="{% static 'assets/img/slider/slider-img.png '%}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 col-change offset-xl-2">
                            <div class="hero-text pt-160">
                                <h1>
                                    Men E - 2.0z
                                    Ankle Watch.
                                </h1>
                                <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque
                                    tortor arcu, commodo sit amet nulla sed.</p>
                                <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i>Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide pb-45" style="background-image: url({% static 'assets/img/slider/slider-bg.png '%});">
            <div class="slider-content slider-height pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4">
                            <div class="slider-img pt-100 pt-md-0 d-none d-sm-block">
                                <img src="{% static 'assets/img/slider/slider-img.png '%}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 col-change offset-xl-2">
                            <div class="hero-text pt-160">
                                <h1>
                                    Men E - 2.0z
                                    Ankle Watch.
                                </h1>
                                <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque
                                    tortor arcu, commodo sit amet nulla sed.</p>
                                <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i>Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================Slider Area Ends================= -->

    <!-- =================Deal Area Starts================= -->
    <div class="deal-area pt-90 pb-50">
        <div class="deal-area-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-7 col-12 offset-xl-1 offset-lg-1 ">
                        <div class="time-area">
                            <p>New in Store</p>
                            <div class="section-title">
                                <h3>
                                    Deal of the Day
                                </h3>
                            </div>
                            <div id="countdown">
                                <div class="cd-box">
                                    <span class="numbers days">00</span>
                                    <span class="strings timeRefDays">Days</span>
                                </div>
                                <div class="cd-box">
                                    <span class="numbers hours">00</span>
                                    <span class="strings timeRefHours">Hours</span>
                                </div>
                                <div class="cd-box">
                                    <span class="numbers minutes">00</span>
                                    <span class="strings timeRefMinutes">Mins</span>
                                </div>
                                <div class="cd-box">
                                    <span class="numbers seconds">00</span>
                                    <span class="strings timeRefSeconds">Secs</span>
                                </div>
                            </div>
                            <a href="cart-page.html" class="dbtn">Buy Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5 col-8 offset-xl-1">
                        <div class="deal-img">
                            <img src="{{photo1.photo2.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================Deal Area Ends================= -->

    <!-- =================Women-product Area Starts================= -->
    <div class="women-produt-area pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-8 offset-xl-1 offset-lg-1 ">
                    <div class="product-img">
                        <img src="{{photo1.photo3.url}}" alt="women">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-7 col-sm-7 col-12 offset-xl-1 offset-lg-1 ">
                    <div class="hero-text pt-180">
                        <h1>
                            Women Smart Shirt
                        </h1>
                        <span>Limited Offer 25% Off!</span>
                        <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque mauris.</p>
                        <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i> Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================Women-product Area Ends================= -->

    <!-- =================artical Area Starts================= -->
    <div class="artical-area pt-125  pb-120" style="background-image: url({{photo1.photo4.url}});">
        <div class="container">
            <div class="row">`
                <div class="col-xl-9 col-lg-10 col-md-12 col-sm-11 offset-xl-1 offset-md-1 offset-sm-1">
                    <div class="artical-img pb-20">
                        <img src="{% static 'assets/img/icon/quotation-mark.png '%}" alt="quot">
                    </div>
                    <div class="artical-text">
                        <p style="color: black; font-family: sans-serif; font-style: italic;">Ever have one of those days when you feel like you’re swimming up the eCommerce stream? Like a part of you just wants to give up on your eCommerce entrepreneur dreams and open an island bar in the Caribbean?</p>
                    </div>
                    <hr>
                    <div class="author-detalis d-flex pt-25">
                        <div class="author-img">
                            <img src="{{photo1.photo5.url}}" alt="">
                        </div>
                        <div class="author-info ml-15 pt-15">
                            <h5>Masum Billa Munna</h5>
                            <span>Exclusive at UX/UI</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================artical Area Ends================= -->

    <!-- =================Product Area Starts================= -->
    <div class="product-area pt-50 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h3>
                            Our Products
                        </h3>
                    </div>
                </div>
            </div>
            <hr>

        </div>
        <div class="container pr-0 pl-0">
            <div class="custom-row ">
                <div class="product-active pt-30">
                    {% for i in product%}
                        <div class="col-xl-3 col-md-3">
                            <div class="product-wrapper">
                                <div class="product-img ">
                                    <img src="{{i.photo.url}}" alt="product">
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="flip-box">
                                    <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                        <span>{{i.category}}</span>
                                        <h6><a href="shop-detalis-page.html">{{i.name}}</a></h6>
                                        <div class="price-color ">
                                            <div class="price d-inline-block">
                                            {% if i.discount%}
                                                <span>${{i.discount}}</span>
                                                <del>${{i.price}}</del>
                                            {% else%}
                                                <span>${{i.price}}</span>
                                            {% endif%}
                                            </div>
                                            <div class="color float-right d-flex">
                                                <span>Color:</span>
                                                <div class="color-set">
        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                        <div class="product-info">
                                        <span>Men Fashion</span>
                                        <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                        <div class="buy-info ">
                                            <div class="cart float-left">
                                                <a href="/add_cart/"><img src="{% static 'assets/img/icon/cart-red.png '%}" alt=""> Add To Cart</a>
                                                    
                                            </div>
                                            <ul class="rating d-flex">
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                                <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- =================Product Area Ends================= -->

    <!-- =================Instagram Area Starts================= -->
    <div class="instagram-area pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title pb-25 text-center">
                        <h2>
                            Instagram Lookbook
                        </h2>
                        <span>Xten@Instagram</span>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for i in carousel%}
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                    <div class="instagram-img">
                        <img src="{{i.photo.url}}" alt="product">
                        <div class="insta-icon">
                            <a href=""> <i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </div>
                {% endfor%}
            </div>
        </div>
    </div>    
    <!-- =================Instagram Area Ends================= -->

    <!-- =================Subscribe Area Starts================= -->
    <div class="subscribe-area pt-50 pb-35">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-3 offset-lg-2 offset-md-1">
                    <div class="mess-icon text-center pb-30">
                        <img src="{% static 'assets/img/icon/email-red.png '%}" alt="messages">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-3 offset-lg-2 offset-md-1">
                    <form action="#">
                        <input type="email" placeholder="Enter Your Email...">
                        <button>Subscribe</button>
                    </form>
      {% endblock content%}              